# Gemini API Key
GEMINI_API_KEY=

# bKash API Credentials (Ask bKash for these)
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_BASE_URL=https://checkout.pay.bka.sh/v2 # For live production
# BKASH_BASE_URL=https://checkout.sandbox.bka.sh/v1 # For testing/sandbox

# ZiniPay API Credentials (Available in Yearly Starter/Pro/Business Packages)
# Get your Brand Key/API Key from dash.zinipay.com -> My Brands
ZINIPAY_API_KEY=
# Explicitly force a redirect domain for testing ZiniPay callbacks on dev servers (must match the domain registered on your ZiniPay Brand Dashboard)
ZINIPAY_FORCE_REDIRECT_DOMAIN=

